@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 23% 9%;
    --foreground: 42 25% 96%;
    --card: 224 19% 13%;
    --card-foreground: 42 25% 96%;
    --muted: 225 15% 18%;
    --muted-foreground: 220 12% 72%;
    --primary: 45 100% 58%;
    --primary-foreground: 228 30% 8%;
    --secondary: 191 90% 58%;
    --secondary-foreground: 228 30% 8%;
    --destructive: 0 85% 64%;
    --destructive-foreground: 42 25% 96%;
    --success: 150 73% 46%;
    --success-foreground: 0 0% 100%;
    --warning: 42 100% 57%;
    --warning-foreground: 224 32% 14%;
    --border: 223 13% 28%;
    --input: 223 13% 28%;
    --ring: 45 100% 58%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3 {
    @apply font-heading;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: hsl(230 15% 25%);
    border-radius: 999px;
  }
}
